<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Aseo</title>
</head>
<body>
  <p>&nbsp;</p>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="../../../assets/img/Roa.jpg" class="card-img-top" width="250" height="250" alt="">
        <div class="card-body">
          <h5 class="card-title">Arroz Roa</h5>
          <p class="card-text">Arroz Roa X 25Lb</p>
         
        </div>
        <div class="card-footer">
          <small class="text-muted">$ 50.000</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../../assets/img/Diana.jpg" class="card-img-top" width="250" height="250" alt="">
        <div class="card-body">
          <h5 class="card-title">Arroz Diana</h5>
          <p class="card-text">Arroz Diana X 25Lb</p>
         
        </div>
        <div class="card-footer">
          <small class="text-muted">$ 50.000</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../../assets/img/Flor.jpg" class="card-img-top" width="250" height="250" alt="">
        <div class="card-body">
          <h5 class="card-title">Arroz Flor Huila</h5>
          <p class="card-text">Arroz Flor Huila X 25 Lb</p>
          
        </div>
        <div class="card-footer">
          <small class="text-muted">$ 50.000</small>
        </div>
      </div>
    </div>
  </div>
</body>
</html>