<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alimentos</title>
</head>
<body>
  <p>&nbsp;</p>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="../../../assets/img/productoarrozppal.jpg" class="card-img-top" width="100" height="200" alt="">
        <div class="card-body" click="Alimentos()">
          <h5 class="card-title">Arroz</h5>
          <p class="card-text">Arroz en diferentes marcas</p>
          <a ref=""  class="btn btn-primary" >VER</a>
          
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../../assets/img/productogranosppal.jpg" class="card-img-top" width="100" height="200" alt="">
        <div class="card-body">
          <h5 class="card-title">Granos</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">VER</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../../assets/img/Granos-de-cafe-tostados.jpg" class="card-img-top" width="100" height="200" alt="">
        <div class="card-body">
          <h5 class="card-title">Café</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          <a href="#" class="btn btn-primary">VER</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
  


  
</body>
</html>