<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>&nbsp;</p>

    <div class="container">
    <div class="cuadro" style="height: auto !important;">
        <div class="adr" itemscope="" itemtype="http://schema.org/LocalBusiness" style="display:none;">
                <span itemprop="name">Cafepas S A S</span>
                <span itemprop="description">Comercio al por mayor de productos alimenticios</span>
            <div itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress">
            <div itemprop="streetaddress">CALLE 50 40 81 BODEGA A1 DEL PARQUE INDUSTRIAL JACOB</div>
            <div itemprop="addressLocality">TULUA<div class="country-name hide"> Colombia</div>
        </div>
        <div itemprop="addressRegion">VALLE</div>
    </div>
</div>
<div container-full>
    <div itemprop="name" style="display:none;">Información Empresas: Cafepas S A S</div>
    <div itemprop="description" style="display:none;">					
            Toda la información de Cafepas S A S de VALLE
            . Telefono, dirección, ventas, empleados, balances, últimas noticias sobre Cafepas S A S 
            y mucho más.
        </div>
        <table class="vcard datos_ppales">
            <tbody>
                <tr>
                    <th>Razón Social</th>
                    <td class="fn" itemprop="name">Cafepas S A S</td>
                </tr>
                <tr>
                    <th>Teléfono</th>
                    <td>3183513658</td>
                </tr><tr>
                    <th>Ciudad</th>
                    <td>TULUA</td>
                </tr>
                <tr>
                    <th>Departamento</th>
                    <td>VALLE</td>
                </tr>
                <tr>
                    <th>Dirección Actual</th>
                    <td>CALLE 50 40 81 BODEGA A1 DEL PARQUE INDUSTRIAL JACOB</td>
               <tr>
                    <th>NIT</th>
                    <td>8913034229</td>
                
                </tr>
                <tr>
                    <th>Actividad</th>
                    <td>Comercio al por mayor de productos alimenticios</td>
                </tr>
                <tr>
                    <th>Forma Jurídica</th>
                    <td class="fn" itemprop="name">SOCIEDAD POR ACCIONES SIMPLIFICADA</td>
                </tr><tr class="solodesktop">

     </tr>
     </tbody>
     </table>
     <div class="mg-6">
        <table>
            <tbody>
                <tr>
                    <th>
                       <a href=""><iframe src="https://www.google.com/maps/embed?pb=!1m19!1m12!1m3!1d63671.157495812775!2d-76.21509120000002!3d4.1320448!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m4!3e6!4m0!4m1!2sCALLE%2050%2040%2081%20BODEGA%20A1%20DEL%20PARQUE%20INDUSTRIAL%20JACOB%2C%20TULUA%2C%20VALLE!5e0!3m2!1ses!2sco!4v1651889432541!5m2!1ses!2sco" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" align="right"></iframe></a>
   
                    </th>
                </tr>
            </tbody>
        </table>
     </div>
     
        </div>
    </div>
    </div>
      
    <p>&nbsp;</p>
</body>
</html>