<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Principal</title>

</head>
<body>

 <div class="container-full">
  
  <nav class="navbar navbar-dark bg-primary" >
    <!-- Navbar content -->
  </nav>
  
  <nav class="navbar navbar-light bg-light" style="background-color: #2e1e1e25;">
        
    <div class="container-fluid">
    <ul class="nav">
        <li class="nav">
          <button type="btn"> <img src="../assets/img/LogoCafepas.jpg" width="75" height="70" (click)="Header()"/></button>
        </li>

        <li class="nav-item">
          <button class="btn btn-default" (click)="Alimentos()">Productos alimenticios</button>
        </li>

        <li class="nav-item">
          <button class="btn btn-default" (click)="Aseo()">Productos de aseo</button>
        </li>

        <li class="nav-item">
          <button class="btn btn-default" (click)="SobreNosotros()">Sobre Nosotros</button>
        </li>

        <li class="nav-item">
          <button class="btn btn-default" (click)="Contacto()">Contacto</button>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="container">
  
</div>

    <router-outlet></router-outlet>
   
</body>
</html>

