<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    
</head>
<body>
    <h1>&nbsp;</h1>
<div class="container">
    <section class="content content-all">

    <a id="main-content"></a>
<div class="region region-content">
<h1 class="page-header">
<span property="schema:name">CafePas</span>
</h1>


<div data-history-node-id="937" class="node node--type-page node--view-mode-full ds-3col-stacked-fluid clearfix" typeof="schema:WebPage">


<div class="group-middle">

<div property="schema:text" class="field field--name-body field--type-text-with-summary field--label-hidden field--item"><p><img alt="" src="../../img/LogoCafepas.jpg" align="left"></p>
    <img alt="cafepas" src="../../../assets/img/taza.jpg" width="400" height="300" align="left">
<h3></h3>
<div class="txt">
<p> La empresa Cafepas S A S se encuentra ubicada en la localidad de TULUA, en el departamento de VALLE. El domicilio social de esta empresa es CALLE 50 40 81 BODEGA A1 DEL PARQUE INDUSTRIAL JACOB, TULUA, VALLE.
    
    La forma jurídica de Cafepas S A S es SOCIEDAD POR ACCIONES SIMPLIFICADA y su principal actividad es "Comercio al por mayor de productos alimenticios". </p>
<p>El 2020 significó enormes retos, en el que promover la solidaridad, trabajar por la nutrición infantil, el desarrollo de proveedores, fortalecer acciones para el cuidado del planeta, la promoción de hábitos saludables, el bienestar de nuestros colaboradores y la construcción de confianza con los grupos de interés, fue la prioridad. Es por esto, que con la renovación de nuestra Política de Sostenibilidad 2020 la cual se enmarca en seis retos, orientó la actuación de la compañía y se obtuvieron logros muy significativos.</p>
</div>
<p>&nbsp;</p>
<p style="margin-bottom:11px">En CafePas estamos comprometidos con nuestra región, buscando contribuir al desarrollo económico, social, y ambiental del país.</p>

<p style="margin-bottom:11px">Llevando a sus hogares la mejor calidad de productos de Colombia, trabajando en conjunto de nuestros proveedores y aliados, para la conservación de los ecosistemas, a través del modelo de agricultura sostenible.</p>

<p style="margin-bottom:11px">Dentro de este modelo, el 100% de nuestros proveedores directos cumplen con los siguientes criterios:</p>

<ul>
<li style="margin-bottom: 11px;"><strong>Con el Medio Ambiente</strong>: Implementamos <strong>UN MODELO DE AGRICULTURA SOSTENIBLE</strong> que protege los ecosistemas, monitoreando satelitalmente las fincas, evitando la deforestación y promoviendo su restauración y conservación</li>
<li style="margin-bottom: 11px;"><strong>Con los productos alimenticios:</strong> Buscamos asegurar que los productos se encuentren en condiciones adecuadas de <strong>salubridad, fechas de vencimiento, etc.</strong></li>
<li style="margin-bottom: 11px;"><strong>Con los productos de aseo:</strong> Buscamos asegurar que los productos se encuentren en condiciones adecuadas de <strong>empaque, sellado, fechas de vencimiento, etc.</strong></li>

</ul>

<p>&nbsp;</p>


<p>&nbsp;</p>

<p><img alt="comercio-sostenible" src="https://blog.oxfamintermon.org/wp-content/uploads/2019/05/comercio-justo.jpg" loading="lazy" width="500" height="400" align="right"></p>

<h2>Comercio Sostenible</h2>

<h3>&nbsp;</h3>

<p>Generamos relaciones de valor con nuestros aliados y proveedores, a través de la promoción de prácticas sostenibles y programas de apoyo que contribuyen a su crecimiento, a la compra local y directa y al apoyo de sectores productivos y poblaciones vulnerables.</p>

<p>Compramos local y directamente y trabajamos con nuestros proveedores y aliados. Para lograrlo, trabajamos en estos frentes:</p>

<p>• Comercializar local y directamente</p>

<p>• Desarrollar a nuestros proveedores y aliados</p>

<p>• Realizar auditorías sostenibles</p>

<p>• Incidir en la política pública</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<div>
<p><img alt="mi-planeta" src="../../../assets/img/cuidadomedio.jpg" loading="lazy" width="500" height="400" align="left"></p>
</div>

<div class="txt">
<h2>Mi Planeta</h2>

<p>Trabajamos para reducir, mitigar y compensar los impactos de la operación en el planeta, así como para contribuir a la generación de consciencia ambiental en los diferentes grupos de interés.</p>

<p>Trabajamos para reducir, mitigar y compensar nuestro impacto en el planeta. Para lograrlo, trabajamos en estos frentes:</p>

<p>• Medir y mitigar la huella de carbono</p>

<p>• Ser eficientes en el manejo de recursos y residuos</p>

<p>• Reducir el material</p>

<p>• Construir obras civiles sostenibles</p>

<p>•Educar al consumidor</p>

</div>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>


<p><img alt="vida-sana-" src="../../../assets/img/vida sana.jpg" loading="lazy" width="500" height="400" align="right"></p>

<h2>Vida Sana</h2>

<h3>&nbsp;</h3>

<p>Movilizamos a clientes, colaboradores y proveedores hacia estilos de vida más saludables y balanceados, a través de un portafolio de productos y servicios que les permitan generar hábitos de vida saludable.</p>

<p>Incentivamos una vida sana a través de alimentos naturales 4.200 y con beneficios nutricionales 23,5% más que en 2019. Para lograrlo, trabajamos en estos frentes:</p>

<p>• Comercializar alternativas saludables</p>

<p>• Educar clientes, empleados y proveedores</p>

<p>• Fomentar la actividad física y el deporte</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><img alt="somos-Integros%20%281%29" src="../../../assets/img/integros.jpg" loading="lazy" width="500" height="400" align="left"></p>

<div class="txt">
<h2>Somos íntegros</h2>

<p>&nbsp;</p>

<p>Construimos confianza con nuestros grupos de interés en el marco de una actuación íntegra, bajo estándares de gobierno corporativo, ética y transparencia, y respetando los derechos humanos.</p>

<p>• Promover buenas prácticas de gobierno corporativo</p>

<p>• Promover el respeto por los derechos humanos</p>

<p>• Facilitar entornos diversos e inclusivos</p>

<p>• Impulsar estándares de ética y transparencia</p>
</div>

</div>

</div>

</div>

</div>
<p>&nbsp;</p>
</section>	
</div>
</body>
</html>